.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  max-width: 1740px;
  width: 100%;
  margin: 3rem auto;
  &__logo {
    max-width: 190px;
    width: 100%;
    position: relative;
    height: 40px;
  }
  ul {
    display: flex;
    gap: 1rem;
  }
}
