.wrapperHero {
  position: relative;
}
.hero {
  height: 100vh;
  width: 100%;
  background: rgb(255, 255, 255, 1);
  background: linear-gradient(
    rgba(218, 224, 246, 1) 0%,
    rgba(255, 255, 255, 1) 600px,
    rgba(255, 255, 255, 0) 100%
  );
  background-repeat: no-repeat;
  &__tech {
    font-size: 5rem;
    width: 50%;
    font-weight: 900;
    position: absolute;
    opacity: 0.05;
    line-height: 1;
    top: 0%;
    left: 50%;
    //transform: rotate3d(1, 1, -1, 60deg) translateX(-50%) skew(-40deg, -2deg);
    z-index: -1;
  }
  &__content {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 10;
    gap: 2rem;
    .hero__title__mask {
      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      background: $blue;
      z-index: 20;
    }
    .hero__title {
      position: relative;
      font-size: 8rem;
      font-weight: 900;
      margin-bottom: 1rem;
      line-height: 0.8;
      text-align: right;
      flex: 1 0 auto;
      color: $blue;
    }
    .hero__description {
      line-height: 1;
      font-weight: 200;
      font-size: 6rem;
      flex: 1 0 auto;
      text-align: left;
      margin-top: 10rem;
      background: #ffffff82;
      padding: 1rem;
    }
    p {
      text-align: left;
      font-weight: 200;
      line-height: 35px;
      max-width: 400px;
      background: rgba(255, 255, 255, 0.8666666667);
      padding: 1rem;
      font-size: 1.8rem;
    }
  }
}
