* {
  box-sizing: border-box;
}
body {
  background: rgb(255, 255, 255, 1);
  background: linear-gradient(
    rgba(218, 224, 246, 1) 0%,
    rgba(255, 255, 255, 1) 600px,
    rgba(255, 255, 255, 0) 100%
  );
  background-repeat: no-repeat;
  font-family: "Heebo", sans-serif;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
h1 {
  padding: 0;
  margin: 0;
}
