/*COLORI*/
$blue: #28375d;

/*MEDIA QUERY*/
$phone: "only screen and (max-width : 460px)";
$tablet: "only screen and (max-width : 720px)";
$landscape: "only screen and (max-width : 1024px)";
$desktop: "only screen and (max-width : 1200px)";
$large: "only screen and (max-width: 1340px)";
$laptop: "only screen and (max-width : 1460px)";
$wide: "only screen and (max-width : 1620px)";
$big: "only screen and (max-width : 1920px)";
